# Ignore everything
*

# Ignore everything in .snakemake directories
RNA/.snakemake/
WGS/.snakemake/
ATAC/.snakemake/


# But not these files and directories
!.gitignore

!WGS/
!WGS/Snakefile
!WGS/config/
!WGS/dag/
!WGS/envs/
!WGS/logs/
!WGS/rules/

!RNA/
!RNA/Snakefile
!RNA/config/
!RNA/dag/
!RNA/envs/
!RNA/logs/
!RNA/rules/

!ATAC/
!ATAC/Snakefile
!ATAC/config/
!ATAC/dag/
!ATAC/envs/
!ATAC/logs/
!ATAC/rules/

!ASE/
!ASE/config/
!ASE/scripts/

!visualisation/

# Ensure all files within those directories are included
!WGS/config/**
!WGS/dag/**
!WGS/envs/**
!WGS/logs/**
!WGS/rules/**

!RNA/config/**
!RNA/dag/**
!RNA/envs/**
!RNA/logs/**
!RNA/rules/**

!ATAC/config/**
!ATAC/dag/**
!ATAC/envs/**
!ATAC/logs/**
!ATAC/rules/**

!ASE/config/**
!ASE/scripts/**
!visualisation/**